{% extends "forms/base.html" %}
{% block title %}<title>Cliente {{ patient.firstname }}</title>{% endblock title %}
{% block content %}
<section>
  {% include "forms/_navbar-register.html" %}
</section>
<section>
  {% include "partials/_messages.html" %}
  <div class="container-sm mt-3">
    <h2 class="text-center">Datos de {{ patient.firstname }} {{ patient.lastname }}</h2>
    <form class="mb-3">

      <div class="form-group">
        <label for="firstname">Primer nombre</label>
        <input type="text" class="form-control" id="firstname" name="firstname" autocomplete="off" value="{{ patient.firstname }}"
          autocapitalize="words" readonly>
      </div>

      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" id="lastname" name="lastname"  autocomplete="off" value="{{ patient.lastname }}"
          autocapitalize="words" readonly>
      </div>
      <div class="form-group">
        <label for="birtday">Cumpleaños</label>
        <input type="date" class="form-control" id="birtday" name="birtday" value="{{ patient.birtday }}" autocomplete="off" readonly>
      </div>
      <div class="form-group">
        <label for="sex">Sexo</label>
        <input type="text" class="form-control" id="sex" name="sex" value="{{ patient.sex }}" autocomplete="off" readonly>
      </div>
      <div class="form-group">
        <label for="name_father">Apellido paterno</label>
        <input type="text" class="form-control" id="name_father" name="name_father" value="{{ patient.name_father }}" autocomplete="off" autocapitalize="words" readonly>
      </div>
      <div class="form-group">
        <label for="name_mather">Apellido materno</label>
        <input type="text" class="form-control" id="name_mather" name="name_mather" value="{{ patient.name_mather }}" autocomplete="off" autocapitalize="words" readonly>
      </div>
      <div class="form-group">
        <label for="document">Documento</label>
        <input type="text" class="form-control" id="document" name="document" value="{{ patient.document }}" autocomplete="off" autocapitalize="no" readonly>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{ patient.email }}" readonly>
      </div>

      <div class="form-group">
        <label for="phone">Teléfono móvil</label>
        <input type="text" class="form-control" id="phone" name="phone"  autocomplete="off" value="{{ patient.phone.format_patient_phone }}" readonly>
      </div>

      <div class="form-group">
        <label for="lastname">Registrado en</label>
        <input type="text" class="form-control"  autocomplete="off" value="{{ patient.created_at }}"
          autocapitalize="words" readonly>
      </div>

      <a href="{{ url_for('update_patient', id=patient.id) }}" class="btn btn-success">Atualizar datos</a>
      <a href="{{ url_for('list_patients') }}" class="btn btn-info">Volver sin actualizar</a>

    </form>
  </div>
</section>
{% endblock content %}