{% extends "forms/base.html" %}

{% block title %}<title>Listar clientes</title>{% endblock title %}
{% block content %}
<section>
    {% include "forms/_navbar-register.html" %}
</section>
<section>
    <div class="container-sm text-center mb-2">
    <h3 class="mt-1">Lista de clientes</h3>
</div>
</section>
<section>
    <div class="container-sm">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Documento</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Prontuario</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <th scope="row"><a  href="{{ url_for('list_patient', id=patient.id) }}" class="btn btn-success">{{ patient.id }}</a></th>
                    <td>{{ patient.firstname }}</td>
                    <td>{{ patient.lastname }}</td>
                    <th scope="row">{{ patient.document }}</th>
                    <td>{{ patient.email }}
                        <a href="mailto:{{ patient.email }}" id="email-link"><i class="fa-regular fa-envelope" id="fa-email"></i></a>                        
                    </td>
                    <td>
                        {{ patient.phone.format_patient_phone }}
                        {% if patient.phone.phone %}
                        <a href="https://web.whatsapp.com/send?phone={{ patient.phone.phone }}" id="whatsapp-link" target="_blank">
                            <i class="fa-brands fa-whatsapp" id="fa-whatsapp"></i>
                        </a>
                        {% else %}
                        No informado
                        {% endif %}
                    </td>
                    <td> medi id </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
              
    </div>
</section>
{% endblock content %}