#div-01-in-service{
    background-color: rgba(255, 160, 122, 0.3);
}

.fa-lock-open{
    color: green;
    font-size: 2rem;
    margin-top: 1.8rem;
}
.fa-lock{
    color: red;
    font-size: 2rem;
    margin-top: 1.8rem;
}