{% extends "base.html" %}
{% block title %}<title>Control-Clinic</title>{% endblock title %}
{% block content %}
<section>
  {% include "partials/_navbar.html" %}
</section>
<section id="table-in-service">
  {% include "partials/_messages.html" %}
  <div class="container-sm mt-3">
    <h2 class="text-center">Index</h2>
</section>
<section class="container-md" style="border: 1px solid blue;">
  <div class="row">
    <div class="col-md-5" style="border: 1px solid red;">
      <h3 class="text-center">Consultas abertas</h3>
      <table class="table table-bordered border-primary" id="div-01-in-service">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Documento</th>
            <th scope="col" class="text-center">Data</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for consult in clinic_care.items %}
          {% if consult.in_service %}
          <tr class="table-group-divider">
            <th scope="row"><a href="{{ url_for('clinic_care_id', id=consult.id) }}" target="_blank">{{ consult.id
                }}</a></th>
            <td>{{ consult.patient.firstname }}</td>
            <td>{{ consult.patient.document }}</td>
            <td>{{ consult.formatted_clinic_care_created_at }}</td>
            <td>
              <form onsubmit="return confirm('Deseja encerrar a consulta {{ consult.id }}?')"
                action="{{ url_for('end_clinic_care', id=consult.id) }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-success btn-sm">Finalizar</button>
              </form>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <!-- Paginação para a tabela -->
      <div class="container-sm">
        <nav aria-label="...">
          <ul class="pagination">
            {% if clinic_care.has_prev %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('index', page=clinic_care.prev_num) }}"><i
                  class="fa-solid fa-circle-chevron-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link"><i class="fa-solid fa-circle-chevron-left"></i></span>
            </li>
            {% endif %}

            {% for num in clinic_care.iter_pages() %}
            {% if num == clinic_care.page %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ num }}</span>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('index', page=num) }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if clinic_care.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('index', page=clinic_care.next_num) }}"><i
                  class="fa-solid fa-circle-chevron-right"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link"><i class="fa-solid fa-circle-chevron-right"></i></span>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>

    </div>
  </div>
</section>{% block scripts %}
{% include "partials/_scripts.html" %}
{% endblock scripts %}

{% endblock %}