<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 0%; padding-top: 0%; padding-bottom: 0%; border-bottom: 1px solid #e3e3e3">
  <a href=""><img src="{{url_for('static', filename= 'images/logo-maig-02.png')}}" width="60" height="60" class="d-inline-block align-top" alt="Logo MarquesIgor"></a>
    <!--<a class="navbar-brand" href="#">MarquesIgor</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="margin-left: 0.5rem">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown" style="margin-left: 0.5rem">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('register_patient') }}">Registro de cliente</a>
            <a class="dropdown-item" href="{{ url_for('search_patient') }}">Actualizar registro de cliente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('register_patient') }}">Entrada al procedimiento</a>
            <a class="dropdown-item" href="{{ url_for('register_doctor') }}">Paciente de regreso</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('register_employee') }}">Historia clínica del paciente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('list_patients') }}">Lista de clientes</a>
          </div>
        </li>
        <li class="nav-item dropdown" style="margin-left: 0.5rem">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            R H
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('register_specialty') }}">Registrar Especialidad</a>
            <a class="dropdown-item" href="{{ url_for('register_doctor') }}">Registrar Medico</a>
            <a class="dropdown-item" href="{{ url_for('register_employee') }}">Registrar Empleado</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('list_doctors') }}">Lista de medicos</a>
            <a class="dropdown-item" href="{{ url_for('list_employees') }}">Lista de empleados</a>  
          </div>
        </li>
        <li class="nav-item" style="margin-left: 0.5rem">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>