<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--CSS-->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style_404.css' )}}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <!--FontAwesome-->
        <script src="https://kit.fontawesome.com/1c69ef5e8f.js" crossorigin="anonymous"></script>
      </head>
      {% block title %}<title>Página no encontrada - 404</title>{% endblock title %}
    <body>
    <section>
        <div class="container-sm">
            <h1 id="not_found_s1">404</h1>
        </div>
    </section>
    <section>
        <div class="container-sm" id="section_2">
            <h1 id="not_found_s2">Página no encontrada</h1>
            <h3>El recurso buscado</h3>
            <h3>o no existe</h3>
            <h3>o hay un error en los datos de la consulta</h3>
        </div>
    </section>
    <section>
        <div class="container-sm" id="section_3">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
            <a href="" class="btn btn-warning" id="back-button">Voltar a pagina anterior</a>
        </div>
    </section>

    {% include "partials/_scripts.html" %}
</body>
</html>