{% extends "forms/base.html" %}
{% block title %}<title>Registrar medico</title>{% endblock title %}
{% block content %}
<section>
    {% include "forms/_navbar-register.html" %}
</section>
<section>
  {% include "partials/_messages.html" %}
    <div class="container-sm mt-3">
      <h2 class="text-center">Registrar medico</h2>

      <form action="{{ url_for('register_doctor') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="firstname">Primer nombre</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required autocomplete="off" autofocus autocapitalize="words">
        </div>
        <div class="form-group">
            <label for="lastname">Apellido</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required autocomplete="off" autocapitalize="words">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="register">Registro medico</label>
          <input type="text" class="form-control" id="register" name="register" required autocomplete="off" autocapitalize="no">
       </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="specialty">Especialidad</label>
            <select class="form-control" id="specialty" name="specialty" required>
              <option value=""></option>
              {% for specialidad  in specialidads %}
                <option value="{{ specialidad.name }}">{{ specialidad.name }}</option>
              {% endfor %}
            </select>            
        </div>
        <div class="form-group">
            <label for="phone">Teléfono móvil</label>
            <input type="text" class="form-control" id="phone" name="phone" required autocomplete="off">
        </div>        
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </div>
</section>
{% endblock content %}