{% extends "forms/base.html" %}
{% block title %}<title>Registrar especialidad</title>{% endblock title %}
{% block content %}
<section>
    {% include "forms/_navbar-register.html" %}
</section>
<section>
    <div class="container-sm mt-3">
      <h2 class="text-center">Registrar especialidad medica</h2>
    <form>
        <div class="form-group">
            <label for="specialty">Especialidad</label>
            <input type="text" class="form-control" id="specialty" name="specialty" required autocomplete="off" autofocus autocapitalize="words">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    </div>
</section>
{% endblock content %}